@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import "@fortawesome/fontawesome-free/css/all.css";

html {
  overflow-x: hidden;
  background-color: #000000;
  color: white;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #000000;
  --small-container: #1e1e1e;
  --sub-text-color: #999999;
}

::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #2c2c2c; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #9e9e9d; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Border radius of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #d1d1d1; /* Color of the scrollbar thumb on hover */
}
